---
title: Posts tagged
pagination:
  data: collections
  size: 1
  alias: tag
permalink: "{{ lang }}/tags/{{ tag }}/"
layout: base.html
---

<div class="container">
  <h1>{{ title }} “{{ tag }}”</h1>
  <div class="blog-list">
    {% set taglist = collections[ tag ] %}
    {% for post in taglist | reverse %}
      {% if post.data.lang == lang %}
        <div class="card">
          <header>
            <h2>
              <a href='{{ post.url | url }}'>{{ post.data.title }}</a>
            </h2>
            <div>
              {% if post.data.author %}
              <div class="author" typeof="Person">
                {{ writtenBy }}: <span property="name">{{ post.data.author }}</span>
              </div>
              {% endif %}
              {% if post.data.date %}
                Date:
                <time datetime="{{ post.data.date | isodate }}">{{ post.data.date | localdate }}</time>
              {% endif %}
            </div>
            {% for tag in post.data.tags %}
              {% if tag == "post" or tag == post.data.lang %}
                {% else %}
                  <span class="chip is-small">
                    <a href="/{{ lang }}/tags/{{ tag }}">{{ tag }}</a>
                  </span>
              {% endif %}
            {% endfor %}
          </header>
          <p>
            <a href='{{ post.url | url }}' style="text-decoration: none;">{{ post.data.description }}</a>
          </p>
          <footer class="is-left">
            <a href='{{ post.url | url }}' class="button">{{ read }}</a>
          </footer>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>