---
title: "About"
layout: "base.html"
---

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>About</h1>
            <p>
                Polyglot Tech Blog is a starter template for building a simple blog website with the <a
                    typeof="SoftwareApplication" href="https://www.11ty.dev/" target="_blank"><span
                        property="name">Eleventy</span></a> static site generator.
                View the project repo on <a href="https://gitlab.com/florent_tassy/polyglot-tech-blog"
                    target="_blank">GitLab</a>.
            </p>
            <h2>Credits</h2>
            <p>Beside the already-mentionned dependencies, this project uses:</p>
            <ul>
                <li>
                    <p>A code base derived from
                        <span typeof="Person" resource="https://github.com/NikitaZanella/">
                            <span property="name">
                                Nikita Zanella
                            </span>
                        </span>'s
                        <span typeof="SoftwareSourceCode">
                            <a href="https://github.com/NikitaZanella/11ty-SASS" property="codeRepository">
                                11ty-SASS
                            </a>
                        </span> starter
                    </p>
                </li>
                <li>
                    <p>Icons from <a href="https://jam-icons.com/">https://jam-icons.com/</a> and <a
                            href="https://simpleicons.org/">https://simpleicons.org/</a> found on <a
                            href="https://icongr.am/">icongram</a></p>
                </li>
                <li>
                    <p>A logo derived from
                        <span typeof="Person" resource="http://inipagi.com/">
                            <a href="http://inipagi.com/">
                                <span property="name">
                                    inipagi
                                </span>
                            </a>
                        </span>'s one and found on
                        <a typeof="WebPage"
                            href="https://www.iconfinder.com/icons/2620514/employee_job_laptop_seeker_unemployee_work_icon">Icon
                            finder
                        </a>
                    </p>
                </li>
                <li>
                    <p>A profile picture derived from <a typeof="WebPage"
                            href="https://openclipart.org/detail/236739/friendly-kitten-icon">Open Clipart</a></p>
                </li>
            </ul>
            <p>Enjoy!</p>
        </div>

        <div class="col-4" style="padding: 2rem;">
            {% include "components/bio.html" %}
            <hr style="background-color: transparent">
            {% include "components/latest-posts.html" %}
        </div>

    </div>

</div>
